
/**
 * Select
 * --------------------------------------------------
 */

.item-select {
  position: relative;

  select {
    @include appearance(none);
    position: absolute;
    top: 0;
    right: 0;
    padding: ($item-padding - 2) ($item-padding * 3) ($item-padding) $item-padding;
    max-width: 65%;

    border: none;
    background: transparent;
    color: #333;

    // hack to hide default dropdown arrow in FF
    text-indent: .01px;
    text-overflow: '';

    white-space: nowrap;
    font-size: $font-size-base;

    cursor: pointer;
    direction: rtl; // right align the select text
  }

  select::-ms-expand {
    // hide default dropdown arrow in IE
    display: none;
  }

  option {
    direction: ltr;
  }

  &:after {
    position: absolute;
    top: 40%;
    right: $item-padding;

    width: 8px;
    height: 13px;
    background: url(../img/item-select-after.png);

    color: #999;
    content: "";
    pointer-events: none;
  }
}

select {
  &[multiple],
  &[size] {
    height: auto;
  }
}
